<div class="container">
  <%= link_to "Home", root_path, class: "btn btn-flat" %>
  <div class="profile-info">
    <% if current_user.photo.key != nil %>
      <%= cl_image_tag current_user.photo.key,
                       class: "avatar dropdown-toggle",
                       id: "profile-avatar",
                       data: {
                         toggle: "dropdown",
                       },
                       'aria-haspopup': true,
                       'aria-expanded': false %>
    <% elsif current_user.photo.key == nil %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier",
                    class: "avatar dropdown-toggle",
                    id: "profile-avatar",
                    data: {
                      toggle: "dropdown",
                    },
                    'aria-haspopup': true,
                    'aria-expanded': false %>
    <% end %>
  </div>

  <div class="profile-tabs">
    <ul
      class="nav nav-pills nav-pills-icons justify-content-center"
      role="tablist"
    >
      <li class="nav-item">
        <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
          <i class="material-icons">camera</i>
          Perfil
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#works" role="tab" data-toggle="tab">
          <i class="material-icons">palette</i>
          Bicicletas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
          <i class="material-icons">favorite</i>
          Editar
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content tab-space">
    <div class="tab-pane active text-center gallery" id="studio">
      <p><%= current_user.firstname.capitalize %></p>
      <p><%= current_user.lastname.capitalize %></p>
      <p><%= current_user.email %></p>
      <p><%= current_user.city.capitalize %></p>
    </div>
    <div class="tab-pane text-center gallery" id="works">
      <%= link_to "My bikes", my_bikes_bikes_path, class: "btn btn-gradient" %>
    </div>
    <div class="tab-pane " id="favorite">
      <%= render "form" %>
    </div>
  </div>
</div>
