<div
  class="view flex-grow-1"
  style="background-image: url('https://images.unsplash.com/photo-1618674054359-088b66494a9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1254&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <div class="container">
    <div class="row w-100">
      <div class="col-12 col-md-6 offset-lg-3 m-auto">
        <div class="bg-white rounded p-3 shadow">
          <div
            class="card-category form"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
          </div>
          <br />
          <br />
          <div class="sesion"><h2>¡Create una cuenta!</h2>
          </div>
          <br />
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%=
              f.input :email,
                      placeholder: 'myemail@gmail.com',
                      required: true,
                      autofocus: true,
                      input_html: {
                        autocomplete: 'email',
                      }
            %>
            <%=
              f.input :firstname,
                      placeholder: 'Marcela',
                      required: true,
                      autofocus: true,
                      input_html: {
                        autocomplete: 'nombre',
                      }
            %>
            <%=
              f.input :lastname,
                      placeholder: 'Morante',
                      required: true,
                      autofocus: true,
                      input_html: {
                        autocomplete: 'apellido',
                      }
            %>
            <%=
              f.input :phone_number,
                      placeholder: '987654321',
                      required: true,
                      autofocus: true,
                      input_html: {
                        autocomplete: 'número',
                      }
            %>
            <%=
              f.input :city,
                      placeholder: 'Lima',
                      required: true,
                      autofocus: true,
                      input_html: {
                        autocomplete: 'ciudad',
                      }
            %>
            <%= f.input :photo, required: false %>
            <%=
              f.input :password,
                      placeholder: '*******',
                      required: true,
                      hint:
                        (
                          if @minimum_password_length
                            "#{@minimum_password_length} characters minimum"
                          end
                        ),
                      input_html: {
                        autocomplete: 'new-password',
                      }
            %>
            <%=
              f.input :password_confirmation,
                      placeholder: '*******',
                      required: true,
                      input_html: {
                        autocomplete: 'new-password',
                      }
            %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, '¡Sign up!', class:"btn btn-success" %>
          </div>
          <% end %>
          <br />
          <%= render 'devise/shared/links' %>
        </div>
      </div>
    </div>
  </div>
</div>
