<%= render 'shared/navbar' %>
<div class="container py-5">
  <h3>RENTALS HISTORY</h3>
  <% if current_user.rentals.empty? %>
    <small><em class="text-muted">You haven't rented a bike yet</em></small>
  <% end %>
  <% @rentals.each do |rental| %>
    <div class="card-product">
      <%= cl_image_tag rental.bike.photo.key, height: 300, crop: :fill %>
      <div class="card-product-infos w-100">
        <div class="d-flex justify-content-between">
          <small
            ><em class="text-muted"
              >Rented
              <%= distance_of_time_in_words_to_now(rental.created_at) %>
              ago</em
            ></small
          >
          <div>
            <%= link_to 'View', bike_path(rental.bike), class: 'text-decoration-none' %>

            <% if policy(@rentals).update? && rental.declined == false && rental.completed == false %>
              <%=
                link_to 'Decline',
                        edit_rental_path(rental),
                        class: 'btn btn-cancel',
                        data: {
                          confirm: 'Are you sure you want to decline this rental?',
                        }
              %>
            <% end %>

            <% if policy(@rentals).destroy? %>
              <%=
                link_to 'Delete',
                        rental_path(rental),
                        method: :delete,
                        class: 'btn btn-cancel',
                        data: {
                          confirm: 'Are you sure you want to delete this rental?',
                        }
              %>
            <% end %>
          </div>
        </div>
        <h2><%= rental.bike.model %></h2>
        <span>-Owner : <%= rental.bike.user.firstname %> </span>
        <% if rental.declined %>
          <p class="alert-danger">DECLINED: <%= rental.declined_comment %></p>
        <% end %>
        <% if rental.completed %>
          <p class="alert-success">COMPLETED</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
