<%= render "shared/navbar" %>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">RENT BIKES</h3>
  </div>

  <div class="cards">
    <% @bikes.each do |bike| %>
    <%= link_to bike_path(bike), class: "text-decoration-none" do %>
    <div class="card-trip">
      <%= cl_image_tag bike.photo.key, height: 250, width: 350, crop: :fill %>
      <div class="card-trip-infos">
        <div class="text-decoration-none">
          <h2 class="text-decoration-none"><%= bike.model %> - $<%= bike.price %></i></h2>
          <p class="text-decoration-none"><%= bike.description %></p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>


</div>
